In [1]:
import numpy as np

In [8]:
import pandas as pd

file_path = r'..\artifacts\5\test\0_classes.csv'
train_data = pd.read_csv(file_path)

In [9]:
file_path = r'..\artifacts\5\train\0_classes.csv'
train_data = pd.read_csv(file_path)

In [10]:
file_path = r'..\artifacts\5\valid\0_classes.csv'
train_data = pd.read_csv(file_path)

In [12]:
##data preprocessing

In [15]:
data = pd.read_csv('..\\artifacts\\5\\test\\0_classes.csv')

In [16]:
data.head()

,filename,Apple,Banana,Grapes,Kiwi,Mango,Orange,Pineapple,Sugerapple,Watermelon
0,Image_50_jpg.rf.1d9648831986b61501ad830a42bf06...,0,0,0,0,0,0,0,0,1
1,Image_9_jpg.rf.4313573cfb7e9f2ad675a6720ab822c...,0,1,0,0,0,0,0,0,0
2,images-2023-02-07T153404-897_jpeg.rf.06f8ff26c...,0,0,0,0,1,0,0,0,0
3,images-2023-02-07T154729-469_jpeg.rf.47d2cdc39...,0,0,0,0,0,1,0,0,0
4,Image_40_jpg.rf.14b30ffb322f11e90516c57d903cf4...,0,0,0,0,0,0,0,0,1

In [18]:
data.shape

(90, 10)

In [21]:
data.duplicated().sum()

0

In [22]:
data.isnull().sum()

filename       0
 Apple         0
 Banana        0
 Grapes        0
 Kiwi          0
 Mango         0
 Orange        0
 Pineapple     0
 Sugerapple    0
 Watermelon    0
dtype: int64

In [23]:
data = pd.read_csv('..\\artifacts\\5\\train\\0_classes.csv')

In [24]:
data.head()

,filename,Apple,Banana,Grapes,Kiwi,Mango,Orange,Pineapple,Sugerapple,Watermelon
0,Image_83_jpg.rf.a8f265b8df3540d51f58d248f193f7...,0,0,0,1,0,0,0,0,0
1,images-2023-02-07T155811-656_jpeg.rf.a9b9be4c2...,0,0,0,0,0,0,0,0,1
2,Image_51_jpg.rf.a93e4010657a33cac9925c7c737aac...,0,0,0,1,0,0,0,0,0
3,images-2023-02-07T160736-941_jpeg.rf.a896b4e19...,1,0,0,0,0,0,0,0,0
4,images-2023-02-07T161801-786_jpeg.rf.a9b221e69...,0,0,0,0,0,0,0,1,0

In [25]:
data.duplicated().sum()

0

In [26]:
data.isnull().sum()

filename       0
 Apple         0
 Banana        0
 Grapes        0
 Kiwi          0
 Mango         0
 Orange        0
 Pineapple     0
 Sugerapple    0
 Watermelon    0
dtype: int64

In [27]:
data = pd.read_csv('..\\artifacts\\5\\valid\\0_classes.csv')

In [28]:
data.duplicated().sum()

0

In [44]:
data.isnull().sum()

filename       0
 Apple         0
 Banana        0
 Grapes        0
 Kiwi          0
 Mango         0
 Orange        0
 Pineapple     0
 Sugerapple    0
 Watermelon    0
dtype: int64

In [52]:
##create classificatin model

In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [55]:
import pandas as pd

In [68]:
dataset1 = pd.read_csv(r'..\artifacts\5\test\0_classes.csv')

In [69]:
dataset2 = pd.read_csv(r'..\artifacts\5\train\0_classes.csv')

In [70]:
dataset3 = pd.read_csv(r'..\artifacts\5\valid\0_classes.csv')

In [71]:
combined_data = pd.concat([dataset1, dataset2, dataset3], ignore_index=True)